# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Intellij project files.
.idea

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.iml

/bin/python
/bin/git
/tools/
bin/7z.dll
bin/7z.exe
