app_builder: v0.16.2

Application:
  name: App Builder
  asciibanner: app_builder/src-legacy/assets/asciibanner-AA.txt
  icon: app_builder/src-legacy/assets/autoactuary.ico
  installdir: '%localappdata%\autoactuary\app-builder'

  pause: 1

  data:
    include:
      - bin
      - cli
      - app_builder

    exclude:
      - bin/pre-build.cmd
      - bin/python/Scripts
      - '**/__pycache__/*'
      - '**/.mypy_cache/*'
      - '**/*.log'

dependencies:
  python:
    version: 3.11.6
    pip: 23.2.1
    requirements_files:
      - "requirements.txt"
