name: Lint with Black

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  black:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: psf/black@stable
