name: Lint with MyPy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  mypy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        env:
          PIP_EXTRA_INDEX_URL: https://aa:${{ secrets.PYPI_PASSWORD }}@pypi.autoactuary.com/simple
        run: |
          python -m pip install --upgrade pip
          python -m pip install -c ci-constraints.txt -r requirements.txt -r mypy-requirements.txt -r test-requirements.txt

      - name: Run MyPy
        run: |
          mypy .
