name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    timeout-minutes: 120

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v4
        timeout-minutes: 10

      - name: Install 7z
        run: |
          sudo apt-get update
          sudo apt-get install -y p7zip-full
        timeout-minutes: 10

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        env:
          PIP_EXTRA_INDEX_URL: https://aa:${{ secrets.PYPI_PASSWORD }}@pypi.autoactuary.com/simple
        run: |
          python -m pip install -c ci-constraints.txt -r requirements.txt -r test-requirements.txt
        timeout-minutes: 10

      - name: Test
        run: |
          python -m unittest
        timeout-minutes: 60
